$purple-1: #9012FD
$purple-2: #660eb3
$purple-3: #410874
    
*
    margin: 0
    box-sizing: border-box

html
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-image: url("https://apod.nasa.gov/apod/image/2107/Dark_Tower_MPRS.jpg")

header
    color: white
    text-align: center
    padding: 2em
    margin-bottom: 1em
    background-color: rgba(0,0,0,0.5)

    h2
        padding: 0.5em

    form
        background-color: rgba(0, 0, 0, 0)
        margin: 0 auto
        padding: 1em 0 0 0

        input
            margin: 0


main
    margin: 0 auto
    width: 90vw
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly

    .loading
        color: white
        margin: 3em

button 
    padding: 0.5em
    background-color: $purple-1
    color: white
    font-weight: bold
    border: none
    border-radius: 5px

    &:hover
        color: whitesmoke
        background-color: $purple-2
    &:active
        color: white
        background-color: $purple-3
        box-shadow: 2px 2px gray

article
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: white
    margin: 2em 1em
    padding: 1em
    max-width: 350px

    .card-top
        display: flex
        flex-direction: row
        justify-content: space-evenly
        align-items: baseline

    img 
        height: 120px
    
    .stats
        width: 45%
        
        ul
            list-style-type: none
            margin: 0
            padding: 0

        li
            display: flex
            justify-content: space-between

    .options
        button
            margin: 0.5em


.weaponForm
    background-color: white
    padding: 2em
    margin: 0 auto
    width: 400px
    display: flex
    flex-direction: column

    input, textarea 
        text-align: center
        margin-bottom: 1em

    textarea
        height: 180px
        resize: none