html {
  background-image: url("https://apod.nasa.gov/apod/image/2107/Dark_Tower_MPRS.jpg")
}

.App {
  text-align: center;
}

header {
  color: white
}

.body {
  margin: 0 auto;
  width: 90vw;
}
article {
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  grid-template-rows: repeat(2, 1fr );
  background-color: white;
}
article img {
  max-height: 150px;
}
article .stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article .description {
  grid-column: 1 / span 2;
}