html {
  background-image: url("https://apod.nasa.gov/apod/image/2107/Dark_Tower_MPRS.jpg")
}

.App {
  text-align: center;
}

header {
  color: white
}

.body {
  margin: 0 auto;
  width: 90vw;
}
article {
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  grid-template-rows: 2fr 1.5fr 0.5fr;
  background-color: white;
  margin: 2em 0;
  padding: 1em;
}
article img {
  max-height: 150px;
}
article .stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article .description, .options {
  grid-column: 1 / span 2;
}

article .options button {
  margin: 1em;
}

form {
  background-color: white;
  padding: 2em;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

input, textarea {
  text-align: center;
  margin-bottom: 1em;
}

textarea {
  height: 180px;
  resize: none;
}